body{
	margin: 0;
	padding: 0;
	background: url(screen-4.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;                  
	left: 50%;
	position: absolute;                 /*di chuyển 50% so với phần tử cha, nếu để là relative thì di chuyển so với vị trí đầu tiên*/
	transform: translate(-50%, -50%);   /*ban đầu lấy góc trên làm gốc để thực hiện position, dùng transform để chuyển sang dùng tâm của box*/
	box-sizing: border-box;              /*do đặt width và height cùng với padding nên đặt cái này để width và height không tự động cộng thêm padding mà coi đây là kích thước khi đã có padding*/
	padding: 70px 30px;

}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);   /*trừ đi một nửa chiều rộng của icon*/
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
	
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;        /*lấy nền của thẻ cha*/
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;

}

.loginbox input[type="submit"]{
	
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover{
	color: #ffc107;
}











